{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}

<!--Register-->
<div class="container py-5">
  <h1>Registrar un usuario</h1>
  {% for message in messages %}
  <div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="True">&times;</span>
      </button>
      {{ message }}
    </div>
  </div>
  {% endfor %}
  <form method="POST">
    {% csrf_token %} {{ register_form|crispy }}
    <div class="row my-4 mx-5">
      <div class="col-12">
        <a href="/users/" class="btn btn-danger float-left">Cancelar</a>
        <button class="btn btn-primary float-right" type="submit">
          Registrar
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
