{% extends 'base.html' %} {% load static %} {% block head %}
<script src="/static/lib/highcharts-9.1.2/highcharts.js"></script>
<script src="/static/lib/highcharts-9.1.2/modules/data.js"></script>
<script src="/static/lib/highcharts-9.1.2/modules/exporting.js"></script>
<script src="/static/lib/highcharts-9.1.2/modules/export-data.js"></script>
<script src="/static/lib/highcharts-9.1.2/modules/accessibility.js"></script>
{% endblock %} {% block content %}
<br />
<div class="container-fluid">
  <h1 class="h3 text-center">Datos históricos</h1>
  <div class="row"></div>
  <div
    class="
      historical-content
      d-flex
      align-items-center
      justify-content-center
      flex-column
    "
  >
    <img
      id="timegraph-img"
      src="/static/media/timegraph-blue.svg"
      alt="Imagen decorativa con una gráfica y un reloj"
    />
    <p>
      Descarga los datos de las estaciones
      de monitoreo.
    </p>
    <div class="d-flex flex-row align-items-center">
      <a
        id="downloadAnchor"
        type="button"
        class="btn btn-primary"
        href="/static/data/datos-historicos-iot.csv"
        download
        data-download="datos-historicos-iot.csv"
        >Descargar datos</a
      >
      <a id="csvLink" hidden>datos-historicos-iot.csv</a>
      <div class="loader indicator" hidden></div>
    </div>
  </div>
  <style>
    .historical-content {
      width: 30%;
      margin: auto;
      min-width: 200px;
      text-align: center;
    }

    #downloadAnchor {
      margin: 24px;
    }

    #timegraph-img {
      width: 12%;
      min-width: 120px;
      height: auto;
      display: block;
      margin: auto;
      margin-top: 48px;
      margin-bottom: 24px;
    }
    .disabled {
      background-color: gray !important;
      border: gray !important;
      pointer-events: none;
    }

    .loader {
      border: 3px solid #f3f3f3;
      border-top: 3px solid #555;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  </style>
  <script type="text/javascript" src="/static/lib/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/static/lib/moment.min.js"></script>
  <script
    type="text/javascript"
    src="/static/lib/daterangepicker.min.js"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="/static/lib/daterangepicker.css"
  />
  <script type="application/javascript">
    function openCalendar() {
      $('button[name="daterange"]').click();
    }

    $(function () {
      $('button[name="daterange"]').daterangepicker(
        {
          opens: "right",
        },
        function (start, end, label) {
          let startTime = +start;
          let endTime = +end;

          $("#daterange-label").text(
            start.format("DD/MM/YYYY") + " - " + end.format("DD/MM/YYYY")
          );

          $("#downloadAnchor")
            .attr("name", `/historical/data?from=${startTime}&to=${endTime}`)
            .removeClass("disabled");
        }
      );
    });
  </script>
  <script type="application/javascript">
    $(".download").on("click", function () {
      // show the loading indicator
      $(".indicator").show();
      $(".loader").attr("hidden", false);
      $("#downloadAnchor").addClass("disabled");

      // get the filename
      var fname = $(this).attr("data-download");
      var url = $(this).attr("name");

      $.get(url, function (file) {
        var dataURI = "data:text/csv;charset=utf-8," + file;
        $("#csvLink")
          .attr({
            download: fname,
            href: dataURI,
          })[0]
          .click();

        // hide the loading indicator
        $(".indicator").hide();
        $(".loader").attr("hidden", true);
        $("#downloadAnchor").removeClass("disabled");
      });
    });
  </script>
</div>
{% endblock %}
