<style>
  .no-data-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    max-width: 600px;
    min-width: 300px;
    margin: auto;
  }
</style>
<div class="no-data-div">
  <img
    src="/static/media/emptyDB.svg"
    alt="Icono de base de datos vacía"
    width="40%"
    class="m-5"
  />
  <span> No se encontraron datos asociados a tu dispositivo </span>
  <div class="m-4">
    <button type="button" class="btn btn-light mr-1" onclick="reload()">
      &#x21bb;
    </button>
    <button
      type="button"
      class="btn btn-light ml-1"
      onclick="toggleVisibility('noDataInfoDiv')"
    >
      &#9432;
    </button>
  </div>
  <div id="noDataInfoDiv" class="text-center">
    <h5 class="display-">No hay registros</h5>
    <p>
      <small>
        Parece que no has enviado datos con la estación de medición. Para ver
        los registros, por favor configura correctamente la estación con tus
        datos. Si tienes algún problema comunícate con algún monitor.
      </small>
    </p>
  </div>
  <script>
    var x = document.getElementById("noDataInfoDiv");
    x.style.display = "none";
    function toggleVisibility(id) {
      var x = document.getElementById(id);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }

    function reload() {
      location.reload();
    }
  </script>
</div>
